### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
.venv
.gitignore
# Python
.venv/
__pycache__/
*.pyc

# Large datasets
dataset/
*.tsv
*.csv
*.parquet

# Generated outputs
output/

# ML models
*.model
*.json
*.pkl
*.joblib

# IDE
.vscode/

# OS
.DS_Store